/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h4{
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px
        
}

.btn-purple user_detail_submit{

}


/*=====================*/
*{
  font-family: 'Open Sans'; 
}
.text-purple {
  color: #6255a5 !important;
}
.each_pagination_links{
  /*border:0;*/
}
.container{
    margin-top: 20px;
}
.input-group-text.user_profile_calander{
  border-left-style: none !important:
  background-color:#fff !important;

  /*margin-left: 10px; */
}

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px; border:0;color:#000;}
.page-item.active .page-link{
  background-color: #6255a5;
  border-color: #6255a5;
  color:#fff;
}
/*header*/
.profile_image{
	height:30px;
	width:30px;
}
.nav-item{
	margin:0px 5px;
}
.nav-item .nav-link{
	font-weight: 500;
} 
.overflow-x-none{
  overflow-x: hidden;
}

/*main*/
.three_dot_dd{
  display: inline;  
}
.more_menu{
  position: absolute;
  /*top: 100%;*/
  left:100 !important;
  right:0;
  float:right;
}
.btn-purple {
  color: #fff;
  background-color: #6255a5;
  border-color: #6255a5;
}

.btn-purple:hover {
  color: #fff;
  background-color: #6255a5;
  border-color: #0062cc;
}

/*.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
*/
/*.btn-purple.disabled, .btn-purple:disabled {
  color: #fff;
  background-color: #6255a5;
  border-color: #6255a5;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover .table-bordered {
  background-color: #fff;
  box-shadow: 0px 3px 3px #ddd;
  /*border-top:2px solid #ddd;*/
  border:0;
}
.table-bordered th, .table-bordered td{
  border:0;
}
.text-purple {
  color: #6255a5 !important;
}

.websitelogo{
	width:200px;
}
.mynavigation{
	width:100%;
}
.table_search_btn{

}
.header-card{
	border: none;
	border-bottom:1px solid #f8f9fa;
	box-shadow: 0px 4px 0px #f8f9fa;
}
.main_top_space{
	padding:70px 0px 10px;
	
}
.my-form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle:after { content: none }.dropdown-toggle:after { content: none }

footer{
	padding:50px 0px 10px;
}
.socialmedia_footer{
	border-radius: 50%;
  height:36px;
  width:36px;
}
.copyright_text{
  font-size: 14px;
  font-weight: 400;
  /*line-height: 18;*/
  color:#333333;
}

/*user_profile*/
.hero_title_section
{
  margin-top: 60px;
  height:250px;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/banner-with-overlay.jpg");
  margin-bottom: 60px;
}
.hero_title{
  position:relative;
  top: 50%;
  left:50%;
  transform: translate(-10%,-50%);
  font-size:48px;
  line-height: 52px;
  color:#fff;
}
.page_title{
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 36px;
}
.form-label{
  font-size:16px;
  line-height: 20px;
  color:#333333;

}
.user_detail_submit{
  margin-top: 30px;
  margin-bottom:60px;
  width:150px;
  border-radius:3px;
  color:#fff;
  font-size: 18px;
  line-height: 22px;
  padding:7px 0;
}
/*uploadbox code*/
.box__input{
  border:3px solid #ddd;
  height:100px;
}
.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

/*login */
.login_container
{
  height:160vh;
  width:100%;
  background-image: url('../img/banner-with-overlay-login.jpg');
  background-size: cover;
  overflow: auto;
    
}
.login_page_content
{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  transform: translate(-50%,-50%);
    margin-top: 150px
}
.login_card_title{
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  margin-top:10px;
}

.login_card_subtitle{
  text-align: center;
  margin-top:20px;
  font-size: 15px;
  line-height: 19px;
}
.login_form{
  margin-top:45px 
}
.login_form_label{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#333;
}
.login_form_group{
  margin:30px auto;
}
.password_label{
  display:block;
}
.password_label span{
  text-align: right;
}
.loginpassword{
  background-image: url('../img/eye.png');
  background-position: right;
  background-repeat: no-repeat;
}
.check_input_group_text{
  background-color: #fff;
  border:0;
}
.rememberme_form_label{
  font-size: 16px;
  line-height: 20px

}
.rememberme_check{
  height:30px;
  width: 30px;
  border-radius: 3px;
  border:1px solid #d1d1d1;
}
.form_error_message{
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color:#ff3636;
}
.form_error{
  border:1px solid #ff3636;
}
.signup_in_login_option{
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  color:#333;
}


/*note details*/
div.stars {
    width: 100px;
    display: inline-block;

}

.mt-200 {
    margin-top: 200px
}

input.star {
    display: none;
}

label.star {
    float: right;
    /*padding: 10px;*/
    font-size: 20px;
    color: #4A148C;
    color: #ddd;
    transition: all .2s
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952
}

input.star-1:checked~label.star:before {
    color: #F62
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome
}
.notes_details_main{
  margin-top:120px;
}
.note_details_title{
  font-size: 28px;
  font-weight: 600;
  margin-bottom:20px;
}
.note_details_book_image{
  width: 240px;
  height:300px;
}
.note_details_book_title{
  font-size: 34px;
  line-height: 38px;
  margin-bottom:20px;
}
.note_details_genere{
  font-size:18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom:30px;
  color:#333;
}
.note_details_book_description{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding:0px 10px;
  margin-bottom: 30px;
}
.note_details_book_download_btn{
  font-size: 18px;
  line-height: 22px;
}
.note_details_others{
  display:block;
  font-size: 18px;
  line-height: 36px;
}
.note_details_others span{
  float: right;
  font-weight: 600;
}
.note_details_inappropriate{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color:#df3434;
  display:block;
  width: 100%;
}
.font24_28{
  font-size: 24px;
  line-height: 28px; 
}
.book_pdf{
  width:400px;
  height: 500px;
  border: 1px solid #d1d1d1
  border-radius: 3px;
}
.review_profile{
  width:50px;
  height:50px;
  float: left;
}
.review_detail h5{
  font-weight: 600;
}
.review_detail p{
  font-size: 16px;

}
.footer_before{
  border-top: 3px #333;
}
/*search notes*/
.searchn_fields{
  background-color: #f9f9f9;
  padding: 30px;
  margin-bottom:60px;
}
.searchn_my_card_image{

}
.searchn_book_detail{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.searchn_card_img_top{
  height:250px;
  object-fit: cover;
}
.searchn_book_card{
  margin-bottom:30px;
}


/*faq*/
.faq_section{
  margin-top:60px;
}
.faq_card{
  /*height:60px;*/
  margin-bottom: 15px;
}
.moreless{
  color:#a6a6a6;
  font-size:30px;
}
.question{
  font-size: 18px;
  line-height: 22px;
  color:#333;
  font-weight: 600;
  /*margin-bottom:20px;*/
}
.answer{
  margin-top:20px;
  font-size: 16px;
  line-height: 22px;
  color:#333;
  font-weight: 400;
  width:95%;
}

/*dashboard*/
.dashboard_title{
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
}
.dashboard_btn{
  font-style:700;
  font-size:18px;
  line-height: 22px;
}
.mycard{
  border:1px solid #d1d1d1;
  /*margin-right:30px;*/
  height:151px;
}
.dash_one{
  border-right: 1px solid #d1d1d1;
}
.dash_right{
  border:1px solid #d1d1d1;
  margin-left:30px;
  height:151px;
}
.mycard_data{
  text-align: center;
    margin-top: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mycard_data span{
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #6255a5 !important;

}
.my_form_control{
  display: inline-block;
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}
.dash_pagin_one{
  margin-top: 50px;
}



@media only screen and (max-width: 768px) {
  .dash_right {
    margin-left: 0;
  }
}


.habout_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.habout{
  margin-bottom:60px;
}
.how_it_works{
  padding-top:60px;
  padding-bottom:60px;
  background-color: #eee;
}
.font18_22{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.font24_28{
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
.how_it_works_img_cover{
  height:140px;
  width:140px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0,08);
  border-radius: 50%;
  padding:40px;
  background: #fff;
  float: center;
  margin:0 auto 30px;
}
.customer_review{
  margin-top: 60px;
}
.client_text
{
  margin-top:30px;
}
.client_review_top{
  margin-bottom: 60px;
}
.client_card{
  border: 0px;
  box-shadow: 0px 0px 30px #eee;
}
.home_hero_title_section{
  height:500px;
   background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(to right, #6255a5, transparent),url("../img/banner.jpg") ;
  /*background-image: url("../img/banner.jpg"),linear-gradient(to right, #6255a5, rgba(255,0,0,1),linear-gradient(#6255a5,transparent) ;*/
  margin-bottom: 60px;
}
.home_hero_title_section h1{
  font-weight: 700;
  font-size:50px;
  color:#fff;
}
.home_hero_title_section p{
  margin-top: 20px;
  color:#fff;
  width:700px;
}
.home_hero_title_section button{
  margin-top: 20px;
  color:#fff;
  border: 1px solid #fff;
}
.homenavigation{
  background-color: transparent!important;
}
.homenavigation.scrolled{
  background-color: #fff!important;
}.homenavigation.scrolled .nav-item a{
  color: #000!important;
}




#user_profile_pic {
   opacity: 0;
   position: absolute;
   z-index: -1;

}
.user_profile_pic_div{
  height:100px;
  text-align: center;
}

#addnotes_display_picture{
  opacity: 0;
   position: absolute;
   z-index: -1;
}
.addnotes_display_picture_div{
 height:100px;
  text-align: center; 
}
#addnotes_upload_notes{
opacity: 0;
   position: absolute;
   z-index: -1;
}
.addnotes_upload_notes_div{
  height:100px;
  text-align: center;  
}
#addnote_note_preview{
  opacity: 0;
   position: absolute;
   z-index: -1;
}
.addnote_note_preview_div{
 height:130px;
  text-align: center;   
}